/* common styles and utilities */
body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}


/* this is a header styles */
header {
    background-color: #ff900e1a;
}

/* nav {
    width: 100%;
} */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-text {
    font-weight: 700;
    font-size: 45px;
}

.menu-item {
    display: flex;
    gap: 40px;
}

.menu-item li {
    list-style: none;

}

.menu-item li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* this is  hero section here  */
.container {
    width: 1300px;
    margin: 100px  auto 0;

}

.brand-new {
    width: 862px;
    text-align: center;
    margin: 0 auto 50px;

}

.brand-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.btn-common {
    background-color: #FF900E;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 30px;
}

.hero-section-banner img {
    width: 100%;
    margin-bottom: 45px;
}

/* this is a quick list section  */

.quick-list {
    display: flex;
    column-gap: 70px;
    align-items: center;
}

.quick-image-gallery {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}

.title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 45px;
    color: #000;
}

#quick-list {
    font-weight: 500;
    color: #727272;
}

.title #feature {
    color: #FF900E;
}


/* Features you will love & enjoy  */
.feature-architects {
    display: flex;
    gap: 146px;
}

.article {
    padding: 7px 5px 7px 25px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 15px #cdcdcd89;
}

.article-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.architect-banner {
    position: relative;
}

.architect-banner img {
    width: 708px;
    height: 982px;

}

.experience {
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 867px;
    left: -102px;
}

.experience .title,
p {
    color: #ffffff;
}

.experience p {
    font-weight: 500;
    font-size: 25px;
    margin: 0;
}


/* this is some facr or project styles */
.some-fact{
    margin-bottom: 100px;
}
.project {
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition:all 0.2s;
}

.project:hover{
    background-color: #fbd9b3;
    border: 5px solid #FF900E;
    transform-origin: 50% 50% 50% 50%;
}

.projects{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.counter {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin: 0;
}

.counter-info {
    margin: 0;
    color: #727272;
    font-weight: 600;
    font-size: 20px;
}

/* This is a sponsor styles */
.sponsors{
    text-align: center;
}
.sponsor-company{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}


/* footer section here  */
footer div{
    text-align: center;
    background-color: #FFF4E7;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 216px;

}









/* media queries */
/* this is for mobile devices */
@media only screen and (max-width: 576px) {

    /* common styles  */
    .title {
        font-size: 25px;
    }


    header {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
    }

    .logo-text {
        font-size: 26px;
    }

    .menu-item {
        gap: 40px;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .container {
        width: 100%;
    }

    .brand-new {
        width: 100%;
    }

    .brand-title {
        font-size: 34px;
    }

    .description {
        padding: 0 20px;
    }

    /* this is a quick styles  */
    .quick-list {
        flex-direction: column-reverse;
        align-items: center;
    }

    .quick-image-gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-info {
        text-align: center;
        margin-bottom: 40px;
    }

    /* Features you will love & enjoy */
    .article-container {
        margin: 15px;
    }

    .feature-architects {
        flex-direction: column;
        gap: 20px;
    }

    .architect-banner img {
        width: 100%;
        height: 584px;
    }

    .experience {
        width: 242px;
        height: 133px;
        top: 516px;
        left: 90px;
    }

    /* this is a some fact styles here  */
    .projects {
        width: 100%;
        row-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .some-fact{
        text-align: center;
    }


    /* this is sponsor styles  */
    .sponsor-company {
        row-gap: 33px;
        flex-direction: column;
        align-items: center;
    }
    .sponsor-company img{
        width: 160px;
    }


    /* footer styles  */
    footer div {
        padding: 70px;
        margin-bottom: 0;
    }

}